# Python
*.pyc
__pycache__/
backend/venv/
backend/db.sqlite3
backend/staticfiles/
backend/.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
